.carousel {
  /* width: 50%; */
  /* height: 100%; */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  /* align-items: center; */
  /* height: 400px; */
}

.carousel>.display-image-container {
  /* position: absolute; */
}

.carousel>.display-image-container>img {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.active-large {
  /* max-width: 45%; */
  /* max-height: 400px; */
  /* position: absolute; */
  /* max-width: 50vw; */
  /* min-width: 10vw; */
}

.fading {
  opacity: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  /* position: absolute; */
}

.display-image-container {
  /* display: grid; */
  grid-column: 1/2;
  grid-row: 1/2;
  height: 30vh;
  width: auto;
}

.carousel-smaller {
  /* width: 50%; */
  display: grid;
  /* grid-gap: 5px; */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/2;
  grid-row: 2/3;
  /* justify-content: center; */
  /* align-items: center; */
}

.carousel-smaller>img {
  /* min-width: 10vh; */
  /* min-height: 10vh; */
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  display: inline-block;
  /* margin: 15px; */
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller>img:hover {
  border-color: #ad343e;
  opacity: 0.6;

  transition: all 500ms ease-in-out;
}