/* Demo gallery images */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f9f7f6;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header-title {
  font-family: "Fugaz One", cursive;
  font-size: 45px;
  display: block;
  color: #333;
  text-align: left;
  padding-left: 0.35em;
}

.header-title span {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  color: #dc8265;
  font-family: "Unica One";
  margin-top: 0.35em;
}

.gallery {
  width: 85%;
  margin: 35px auto;
  padding: 0;
  text-align: center;
}

.site-wrap {
  max-width: 700px;
}

.gallery .gallery-item {
  min-height: 180px;
  background: #ccc;
  cursor: pointer;
  transition: 400ms all linear;
  margin: 0 1%;
  padding: 0;
  position: relative;
  display: inline-flex;
  flex: 1;
  overflow: hidden;
}

.gallery .gallery-item .img-container {
  width: 100%;
}

.gallery .gallery-item .img-container .img {
  display: block;
  min-height: 180px;
  width: 100%;
  background-size: cover;
  transition: all ease-in 400ms;
}

.gallery .gallery-item:hover .gallery-label h2 {
  color: #333;
}

.gallery .gallery-item:hover .gallery-label .gallery-sublabel {
  transform: translate(-20px, 90px);
  color: #517e88;
}

.gallery .gallery-item:hover .img-overlay {
  display: block;
}

.gallery-row {
  display: flex;
}

.img-overlay {
  width: 100%;
  min-height: 180px;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  position: absolute;
  transition: all ease-in 400ms;
}

.gallery-item:nth-child(1)>.img-container>.img {
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2");
}

.gallery-item:nth-child(2)>.img-container>.img {
  background-image: url("https://images.unsplash.com/photo-1469751434990-62dd6a1c5b29");
}

.gallery-item:nth-child(3)>.img-container>.img {
  background-image: url("https://images.unsplash.com/photo-1489875347897-49f64b51c1f8");
}

.gallery-item:nth-child(4)>.img-container>.img {
  background-image: url("https://images.unsplash.com/photo-1423784346385-c1d4dac9893a");
}

.gallery-item:nth-child(5)>.img-container>.img {
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2");
}

.gallery-item:nth-child(6)>.img-container>.img {
  background-image: url("https://images.unsplash.com/photo-1469751434990-62dd6a1c5b29");
}

.gallery-item:nth-child(7)>.img-container>.img {
  background-image: url("https://images.unsplash.com/photo-1489875347897-49f64b51c1f8");
}

.gallery-item:nth-child(8)>.img-container>.img {
  background-image: url("https://images.unsplash.com/photo-1423784346385-c1d4dac9893a");
}

.img-container>.img>.gallery-label h2 {
  font-family: "Fugaz One", cursive;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  transform: translateX(-1em);
  padding-top: 1em;
  transition: all ease-in 400ms;
  text-align: right;
  width: 100%;
  display: inline-block;
}

.img-container>.img>.gallery-label .gallery-sublabel {
  font-size: 18px;
  font-family: "Unica One";
  text-transform: uppercase;
  font-weight: bold;
  transform: translate(-20px, 190px);
  display: block;
  padding-top: 0.25em;
  text-align: right;
  color: #dc8265;
  transition: all ease-in 400ms;
}

.gallery-modal {
  display: none;
  /* commented out due to lack of sidebar */
  /* width: calc(100% - 215px);  */
  /* transform: translateX(215px);  */
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.gallery-modal .gallery-modal-body {
  background: rgba(255, 255, 255, 0.8);
  height: 65%;
  width: 90%;
  transform: translateY(20%);
  padding: 25px 25px 0 45px;
  margin: 0 auto;
  overflow-y: scroll;
}

.gallery-modal .gallery-modal-body .modal-close {
  float: right;
  cursor: pointer;
}

.gallery-table {
  width: 100%;
}

.gallery-table tr td {
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  padding: 10px 20px;
  font-family: "Vollkorn", serif;
}

.gallery-table tr td img {
  display: block;
  height: auto;
}

.gallery-table tr th {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  text-align: left;
  vertical-align: top;
  color: #333;
  padding: 10px 30px;
}

.gallery-table tr th p {
  margin-top: 15px;
  font-size: 16px;
  font-family: "Vollkorn", serif;
  text-transform: none;
  font-weight: normal;
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */