/* Demo gallery images */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f9f7f6;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background-color: #333;
}

.site-wrap {
  border-radius: 15px;
  background-color: whitesmoke;
  width: 80vw;
}

.gallery {
  width: 100%;
  margin: 35px auto;
  padding: 0;
  text-align: right;
}
.gallery .gallery-container {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
}
.gallery .gallery-container .gallery-item {
  min-height: 180px;
  background: #ccc;
  cursor: pointer;
  transition: 400ms all linear;
  margin: 0 1%;
  padding: 0;
  position: relative;
  flex: 1;
  overflow: hidden;
  box-shadow: 0 13px 25px rgba(50, 50, 93, 0.1), 0 7px 18px rgba(50, 50, 93, 0.15), 0 2px 7px rgba(0, 0, 0, 0.1);
}
.gallery .gallery-container .gallery-item .img-container {
  width: 100%;
}
.gallery .gallery-container .gallery-item .img-container .img {
  min-height: 180px;
  width: 100%;
  background-size: cover;
  transition: all ease-in 400ms;
}
.gallery .gallery-container .gallery-item:hover .gallery-label h2 {
  color: #333;
}
.gallery .gallery-container .gallery-item:hover .gallery-label .gallery-sublabel {
  transform: translate(-20px, 90px);
  color: #777;
}
.gallery .gallery-container .gallery-item:hover .img-overlay {
  display: block;
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}

.img-overlay {
  width: 100%;
  min-height: 180px;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  position: absolute;
  transition: all ease-in 400ms;
}

.img-container > .img > .gallery-label h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-justify: center;
  transition: all ease-in 400ms;
  background: rgba(172, 170, 170, 0.8);
}
.img-container > .img > .gallery-label .gallery-sublabel {
  font-size: 18px;
  font-family: "Unica One";
  text-transform: uppercase;
  font-weight: bold;
  transform: translate(-20px, 190px);
  display: block;
  padding-top: 0.25em;
  text-align: right;
  color: #dc8265;
  transition: all ease-in 400ms;
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}

.gallery-modal {
  /* commented out due to lack of sidebar */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.gallery-modal .gallery-modal-body {
  background: rgba(122, 122, 122, 0.8);
  width: 80%;
  height: 80%;
  padding: 25px 25px 0 45px;
  margin: 0 auto;
}
.gallery-modal .gallery-modal-body .modal-close {
  float: right;
  cursor: pointer;
}
.gallery-modal .gallery-modal-body .gallery-modal-container {
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  padding: 10px 20px;
  font-family: "Vollkorn", serif;
}
.gallery-modal .gallery-modal-body .gallery-modal-container .gallery-modal-item {
  display: grid;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  text-align: left;
  vertical-align: top;
  color: #333;
  padding: 10px 30px;
}
.gallery-modal .gallery-modal-body .gallery-modal-container .gallery-modal-item p {
  margin-top: 15px;
  font-size: 16px;
  font-family: "Vollkorn", serif;
  text-transform: none;
  font-weight: normal;
  line-height: 1.5;
}
.gallery-modal .gallery-modal-body .gallery-modal-container .gallery-modal-item .project-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  height: 80%;
}
.gallery-modal .gallery-modal-body .gallery-modal-container .gallery-modal-item img {
  display: block;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
