/* Demo gallery images */
@import './carousel.css';
$body-font: 'Lato',
sans-serif;
$title-font: 'Fugaz One',
cursive;
$accent-font: 'Unica One';

$label-color: #dc8265;
$transition: all ease-in 400ms;

* {
  font-family: $body-font;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f9f7f6;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background-color: #333;
}

.site-wrap {
  border-radius: 15px;
  background-color: whitesmoke;
  width: 80vw;
}


.gallery {
  width: 100%;
  margin: 35px auto;
  padding: 0;
  text-align: right;

  .gallery-container {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);

    padding: 0 15px;

    .gallery-item {
      width: 100%;
      height: 100%;
      min-height: 25vh;

      background: #ccc;
      cursor: pointer;
      transition: 400ms all linear;
      margin: 0 1%;
      padding: 0;
      position: relative;
      flex: 1;
      overflow: hidden;
      box-shadow: 0 13px 25px rgba(50, 50, 93, 0.1),
        0 7px 18px rgba(50, 50, 93, 0.15),
        0 2px 7px rgba(0, 0, 0, 0.1);

      .img-container {
        width: 100%;

        .img {
          min-height: 25vh;
          background-size: cover;
          transition: $transition;

        }
      }

      &:hover .gallery-label {
        h2 {
          color: #333;
        }

        // changes with media query
        .gallery-sublabel {
          transform: translate(0px, 50px);
          color: #777;
        }
      }

      &:hover .img-overlay {
        display: block;
      }
    }
  }
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}

.img-overlay {
  width: 100%;
  height: 100%;
  min-height: 25vh;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  position: absolute;
  transition: $transition;
}

.img-container>.img>.gallery-label {

  h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-justify: center;
    transition: $transition;
    background: rgba(172, 170, 170, 0.8);
  }

  // changes with media query
  .gallery-sublabel {
    font-size: 18px;
    font-family: $accent-font;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate(20px, 150px);
    display: block;
    padding-top: 0.25em;
    text-align: right;
    color: $label-color;
    transition: $transition;
  }
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}

.modal-close:hover {
  transform: scale(1.5);
}

.gallery-modal {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  // overflow: hidden;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);

  .gallery-modal-body {
    background: rgba(122, 122, 122, 0.8);
    // padding: 25px 25px 0 0px;
    margin: 25px;
    height: 100%;
    // padding: 0px 0px;
    // transition: height 3500ms ease-in-out, opacity 7500ms ease-in-out;

    .modal-close {
      float: right;
      cursor: pointer;
      transition: all 500ms ease-in-out;
      height: 25px;
      padding: 10px;
      // border: 5px solid red;
    }

    .project-name {
      float: left;
      padding: 10px;
      font-size: 50px;
    }

    .gallery-modal-container {
      font-size: 16px;
      line-height: 1.4;
      text-align: left;
      font-family: 'Vollkorn', serif;
      display: grid;
      padding: 0px 20px;
      width: 100%;
      justify-content: center;
      align-content: center;
      height: 100%;

      .gallery-modal-item {
        font-family: $body-font;
        text-transform: uppercase;
        font-size: 20px;
        text-align: left;
        color: #333;
        width: 100%;
        display: grid;
        grid-gap: 10px;
        justify-content: center;
        align-content: center;
        height: 100%;

        p {
          margin-top: 15px;
          font-size: 16px;
          font-family: 'Vollkorn', serif;
          text-transform: none;
          font-weight: normal;
          line-height: 1.5;
        }

        .project-content {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(1, 1fr);
          justify-content: center;
          align-content: center;

        }

        img {}
      }
    }

  }
}