/* Demo gallery images */
$body-font: 'Lato',
sans-serif;
$title-font: 'Fugaz One',
cursive;
$accent-font: 'Unica One';

$label-color: #dc8265;
$transition: all ease-in 400ms;

* {
  font-family: $body-font;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f9f7f6;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100vh;
  width: 100vw;
}

.site-wrap {
  border-radius: 15px;
  background-color: whitesmoke;
  width: 80vw;
}


.gallery {
  width: 100%;
  margin: 35px auto;
  padding: 0;
  text-align: right;

  .gallery-container {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);

    padding: 0 15px;

    .gallery-item {
      width: 100%;
      height: 100%;
      min-height: 25vh;

      background: #ccc;
      cursor: pointer;
      transition: 400ms all linear;
      margin: 0 1%;
      padding: 0;
      position: relative;
      flex: 1;
      overflow: hidden;
      box-shadow: 0 13px 25px rgba(50, 50, 93, 0.1),
        0 7px 18px rgba(50, 50, 93, 0.15),
        0 2px 7px rgba(0, 0, 0, 0.1);

      .img-container {
        width: 100%;

        .img {
          min-height: 25vh;
          background-size: cover;
          transition: $transition;

        }
      }

      &:hover .gallery-label {
        h2 {
          color: #333;
        }

        // changes with media query
        .gallery-sublabel {
          transform: translate(0px, 50px);
          color: #777;
        }
      }

      &:hover .img-overlay {
        display: block;
      }
    }
  }
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}

.img-overlay {
  width: 100%;
  height: 100%;
  min-height: 25vh;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  position: absolute;
  transition: $transition;

}

.img-container>.img>.gallery-label {

  h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-justify: center;
    transition: $transition;
    background: rgba(172, 170, 170, 0.8);
  }

  // changes with media query
  .gallery-sublabel {
    font-size: 18px;
    font-family: $accent-font;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate(20px, 150px);
    display: block;
    padding-top: 0.25em;
    text-align: right;
    color: $label-color;
    transition: $transition;
  }
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
  height: auto;
  opacity: 1;
  display: grid;
  justify-content: center;
  align-items: center;
}

.modal-close:hover {
  transform: scale(1.5);
}

.gallery-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);


  .gallery-modal-body {
    background: rgba(122, 122, 122, 0.8);
    text-align: center;
    font-family: 'Vollkorn';
    margin: 20px;
    // display: grid;
    // justify-content: center;
    // align-content: center;


    .modal-close {
      float: right;
      cursor: pointer;
      transition: all 500ms ease-in-out;
      height: 25px;
      padding: 10px;
    }

    .project-name {
      padding: 20px;
      font-size: 50px;
      text-align: center;
    }

    .project-content {
      justify-content: center;
      align-items: center;
      background: #406997b6;
      margin: 2vh 4vw;
      padding: 2vh 2vw;
      border-radius: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      text-align: left;
      // grid-gap: 2%;
      width: 80%;

      .active-large {
        height: 45vh;
        width: auto;
        max-width: 500px;
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: center;
        justify-self: center;
      }

      .carousel-smaller {
        max-width: 500px;
        display: grid;
        grid-gap: 10px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        grid-row: 2/3;
        grid-column: 1/2;
        align-self: center;
        justify-self: center;

        img {
          width: 11vh;
          height: 11vh;
          border-radius: 50%;
          display: inline-block;
          cursor: pointer;
          border: 2px solid #333;
        }

        img:hover {
          border-color: #ad343e;
          opacity: 0.6;
          transition: all 500ms ease-in-out;
        }
      }


      .info-container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-gap: 10%;
        grid-row: 1/2;
        grid-column: 2/3;
        // justify-content: baseline;
        // align-items: ;


        .info-top {
          display: grid;
          grid-gap: 4%;
          // justify-content: start;
          // align-items: baseline;

          // align-items: center;
          .technologies {
            // padding: 0;
          }
        }
      }

      .project-buttons {
        // width: 100%;
        // height: 100%;
        align-self: center;
        grid-row: 2/3;
        grid-column: 2/3;
        // display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;

        height: 100%;

        .button {
          width: 12vw;
          height: 8vh;
          border-radius: 15px;
          font-size: 20px;
        }
      }

    }

  }
}