/* Demo gallery images */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f9f7f6;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background-color: #333;
}

.site-wrap {
  border-radius: 15px;
  background-color: whitesmoke;
  width: 80vw;
}

.gallery {
  width: 100%;
  margin: 35px auto;
  padding: 0;
  text-align: right;
}
.gallery .gallery-container {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
}
.gallery .gallery-container .gallery-item {
  width: 100%;
  height: 100%;
  min-height: 25vh;
  background: #ccc;
  cursor: pointer;
  transition: 400ms all linear;
  margin: 0 1%;
  padding: 0;
  position: relative;
  flex: 1;
  overflow: hidden;
  box-shadow: 0 13px 25px rgba(50, 50, 93, 0.1), 0 7px 18px rgba(50, 50, 93, 0.15), 0 2px 7px rgba(0, 0, 0, 0.1);
}
.gallery .gallery-container .gallery-item .img-container {
  width: 100%;
}
.gallery .gallery-container .gallery-item .img-container .img {
  min-height: 25vh;
  background-size: cover;
  transition: all ease-in 400ms;
}
.gallery .gallery-container .gallery-item:hover .gallery-label h2 {
  color: #333;
}
.gallery .gallery-container .gallery-item:hover .gallery-label .gallery-sublabel {
  transform: translate(0px, 50px);
  color: #777;
}
.gallery .gallery-container .gallery-item:hover .img-overlay {
  display: block;
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}

.img-overlay {
  width: 100%;
  height: 100%;
  min-height: 25vh;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  position: absolute;
  transition: all ease-in 400ms;
}

.img-container > .img > .gallery-label h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-justify: center;
  transition: all ease-in 400ms;
  background: rgba(172, 170, 170, 0.8);
}
.img-container > .img > .gallery-label .gallery-sublabel {
  font-size: 18px;
  font-family: "Unica One";
  text-transform: uppercase;
  font-weight: bold;
  transform: translate(20px, 150px);
  display: block;
  padding-top: 0.25em;
  text-align: right;
  color: #dc8265;
  transition: all ease-in 400ms;
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
  height: auto;
  opacity: 1;
  display: grid;
  justify-content: center;
  align-items: center;
}

.modal-close:hover {
  transform: scale(1.5);
}

.gallery-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0%;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
}
.gallery-modal .gallery-modal-body {
  background: rgba(122, 122, 122, 0.8);
  text-align: center;
  font-family: "Vollkorn", serif;
}
.gallery-modal .gallery-modal-body .modal-close {
  float: right;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  height: 25px;
  padding: 10px;
}
.gallery-modal .gallery-modal-body .project-name {
  padding: 10px;
  font-size: 50px;
  text-align: center;
}
.gallery-modal .gallery-modal-body .project-content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.gallery-modal .gallery-modal-body .project-content .carousel {
  grid-template-columns: 1/2;
  grid-template-rows: 1/-1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
}
.gallery-modal .gallery-modal-body .project-content .carousel .active-large {
  grid-column: 1/2;
  grid-row: 1/2;
  height: auto;
  width: auto;
}
.gallery-modal .gallery-modal-body .project-content .carousel .carousel-smaller {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/2;
  grid-row: 2/3;
}
.gallery-modal .gallery-modal-body .project-content .carousel .carousel-smaller img {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #333;
}
.gallery-modal .gallery-modal-body .project-content .carousel .carousel-smaller img:hover {
  border-color: #ad343e;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}
.gallery-modal .gallery-modal-body .project-content .summary {
  grid-template-columns: 2/-1;
  grid-template-rows: 1/2;
  font-size: 15px;
}
.gallery-modal .gallery-modal-body .project-content .technologies {
  grid-template-columns: 2/-1;
  grid-template-rows: 2/-1;
}

/*# sourceMappingURL=style.css.map */
